In [2]:
import pandas as pd

In [3]:
df_users = pd.DataFrame({
    "name":['Maria', 'Petyr', 'Ivan'],
    "age":[23, 21, 34],
    "gender":['female', 'male', 'male']
})

df_users

    name  age  gender
0  Maria   23  female
1  Petyr   21    male
2   Ivan   34    male